page {
    background: $background-color;
}
.container {
    padding: 45rpx 32rpx;
    background: #fff;
    .index-bd {
        .title {
            margin-bottom: 20rpx;
            .logo {
                width: 72rpx;
                height: 72rpx;
            }

            .logo,
            .title-text {
                display: inline-block;
                vertical-align: middle;
            }
            .title-text {
                font-size: 50rpx;
                font-weight: 500;
                margin-left: 20rpx;
            }
        }
        .desc {
            font-size: 28rpx;
            color: #7d7e80;
            padding-left: 120rpx;
        }
    }

    .list {
        .item {
            font-size: 28rpx;
            padding: 24rpx 0;
            border-bottom: 1rpx solid #ebedf0;
        }
    }
}
